<%- include("./layout/header.ejs")%>

<body class="bg-poster-img text-light d-flex align-items-center p-4">
	<div class="gradient-background-darken"></div>
	<div class="wrapper col-12 col-sm-10 col-xxl-9 mx-auto">
		<div class="row flex-grow-1 input-group-width m-0">
			<h1 class="text-primary">Moviestash</h1>
			<p>Your personal movie library and tracking companion.</p>
			<form action="/homepage" method="POST" class="col-12" novalidate>
				<div class="mb-3">
					<!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
					<input
						type="text"
						class="form-control"
						id="username"
						name="username"
						aria-describedby="emailHelp"
						placeholder="username"
						required />
				</div>
				<div class="mb-3">
					<!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
					<input
						type="password"
						class="form-control"
						id="password"
						name="password"
						placeholder="password"
						required />
				</div>
				<div class="mb-3 form-check">
					<input
						type="checkbox"
						class="form-check-input"
						id="remmeberMe"
						checked />
					<label class="form-check-label text-light" for="remmeberMe"
						>Remember Me?</label
					>
				</div>

				<button type="submit" class="btn btn-primary">Log In</button>
				<p class="text-center mt-3">
					<a href="/signup">Don’t have an account? <b> Sign Up</b></a>
				</p>
			</form>
		</div>
	</div>
</body>

<%- include("./layout/footer.ejs")%>
