<header class="bg-black p-4">
	<nav class="text-light text-center">
		<h2>Moviestash</h2>
	</nav>
	<section class="d-flex align-items-center justify-content-between row">
		<section class="d-grid d-md-flex text-light g-4 col-12 col-md-8">
			<img
				class="rounded-circle mx-auto mx-md-0"
				width="120"
				height="120"
				src=" <%- userData.profilePic%>"
				alt="Profile Photo"
				srcset=""
			/>
			<div class="ms-3 my-auto text-center text-md-start">
				<h3 class="fw-bold">Hello, <%- userData.name%></h3>
				<p>
					Get ready for an amazing<br />
					experience with Moviestash
				</p>
			</div>
		</section>
		<section
			class="col-12 col-md-2 d-flex justify-content-center justify-content-md-end"
		>
			<a href="/homepage/logout">
				<button class="btn btn-primary w-auto">Log Out</button>
			</a>
		</section>
	</section>
</header>
